<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- log4j2与mybatis集成，目的是打印出sql语句 -->
    <settings>
        <setting name="logImpl" value="LOG4J2" />
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
</configuration>